nav 
{
width: 100%;
height: 150px;
background: #ffffff;
border-bottom: 1px solid #0bb5ff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

nav .div1 
{
display: flex;
justify-content: space-around;
align-items: center;
}


nav .div1 a 
{
width: 20%;
display: flex;
align-items: center;
justify-content: center;
height: 100px;
text-decoration: none;
color: #001c66;
font-family: 'Oswald', sans-serif;


}

nav a:hover 
{
color: #0bb5ff
}



label, #toggle
{
display: none;
}

@media all and (min-width: 992px) {

.logo {
display:flex;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
width: 100%;
display: flex;
align-items: center;
height: 150px;
text-shadow: 1px 3px 5px rgba(0,0,0,0.3), 
0px -4px 10px rgba(255,255,255,0.3);

    }

.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    display: flex;
    justify-content: space-around;
    width: 80%;

}
.div2 { grid-area: 1 / 4 / 2 / 5; }
.div3 { 
    grid-area: 1 / 5 / 2 / 6; 
    align-items: center;
    justify-content: end;  
    width: 20%;
    display: flex;
    margin-right: 5%;
    height: 150px;;

}
label
{
display: none;
}

}

@media all and (max-width: 991px)
{

nav
{
    height: 150px;
}

.div3 {
display:flex;
justify-content: end;
}

.logo {
margin-top: 30px;
margin-right: 10%;
}

nav .div1
{
    display: none;
    flex-direction: column;
    background: #ffffff;
    height: 220px;
    border-bottom: 1px solid #0bb5ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

nav .div1 a {
    width: 50%;
}

label 
{
    width: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 45px;
    font-size: 40px;
    color: #001c66;
    cursor:pointer;
    
}

#toggle:checked + .div1 {
display: flex;
}

}
/*bou je t'ai fait peur*/
/* foot */

nav .f_parent {
display: flex;
justify-content: space-around;
align-items: center;
text-shadow: 1px 3px 5px rgba(0,0,0,0.3), 
0px -4px 10px rgba(255,255,255,0.3);
font-family: 'Oswald', sans-serif;
color: #001c66;
border-top: 1px solid #0bb5ff;
box-shadow: rgba(50, 50, 93, 0.25) 2px 0px -1px -1px;
font-size: xx-large;
}

.f_div3 {
margin-top: 40px;
}

.f_div2 {
text-decoration: none;
}

.f_div1 {
margin-top: 40px;
}

/* boutton */

/* <reset-style> ============================ */
a {
text-decoration: none;
}
/* <main-style> ============================ */
.scroll-up {
/* position: fixed; */
right: 3rem;
bottom: -50%;
z-index: 10;
width: 32px;
height: 32px;
border-radius: 4px;
background-color: rgba(29, 29, 31, 0.7);
backdrop-filter: saturate(180%) blur(20px);
-webkit-backdrop-filter: saturate(180%) blur(20px);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition: bottom .4s, transform .4s;
}

.scroll-up:hover {
transform: translateY(-.25rem);
}

/* Show scroll-up */
._show-scroll {
bottom: 3rem;
}

@media (max-width: 1199.98px) {
.scroll-up {
right: 1rem;
}
}